---
- name: Deploy Node Exporter container
  docker_container:
    name: node-exporter
    image: "prom/node-exporter:{{ node_exporter_version }}"
    state: started
    restart_policy: always
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    networks:
      - name: homelab-network
    pid_mode: host