---
- name: Configure Homelab Server
  hosts: homelab-1
  vars_files:
    - '../inventories/homelab/group_vars/vault.yml'
  become: yes
  gather_facts: yes
  
  pre_tasks:
    - name: Set hostname
      hostname:
        name: "{{ inventory_hostname }}"
  
  roles:
    - {"role": "geerlingguy.docker"}
    - {"role": "backup-data-zfs", "tags": ["backup-data-zfs", "zfs"]}
    - {"role": "data-ssd", "tags": "data-ssd"}
    - {"role": "backup-directory", "tags": "backup-directory"}
    - {"role": "samba", "tags": "samba"}
    - {"role": "docker"}
    - {"role": "ufw", "tags": "ufw"}
    - {"role": "cockpit"}
    - {"role": "portainer"}
    - {"role": "plex"}
    - {"role": "sabnzbd", "tags": "sabnzbd"}
    - {"role": "jellyfin", "tags": "jellyfin"}
    - {"role": "ytdl-sub"}
    - {"role": "node-exporter", "tags": "monitoring"}
    - {"role": "cadvisor", "tags": "monitoring"}
    - {"role": "prometheus", "tags": "monitoring"}
    - {"role": "alertmanager", "tags": "monitoring"}
    - {"role": "grafana", "tags": "monitoring"}
    - {"role": "homelab-dashboard", "tags": "dashboard"}
    - {"role": "synology-nas", "tags": "nas"}
    - {"role": "tailscale", "tags": "tailscale"}

  post_tasks:
    - name: Display service URLs
      debug:
        msg: |
          Services dashboard is now available at:
          - Dashboard: http://{{ ansible_hostname }}