---
- name: Configure HP EliteDesk Homelab Server
  hosts: homelab-1
  become: yes
  gather_facts: yes
  
  pre_tasks:
    - name: Set hostname
      hostname:
        name: homelab-1
  
  roles:
    - geerlingguy.docker
    - docker
    - cockpit
    - portainer
    - sabnzbd
    - plex
    - ytdl-sub
    - homelab-dashboard

  post_tasks:
    - name: Display service URLs
      debug:
        msg: |
          Services are now available at:
          - Dashboard: http://{{ ansible_host }}
          - Cockpit: https://{{ ansible_host }}:9090
          - Portainer: http://{{ ansible_host }}:9000
          - SABnzbd: http://{{ ansible_host }}:8080
          - Plex: http://{{ ansible_host }}:32400/web
          - ytdl-sub: http://{{ ansible_host }}:8443