username={{ vault_nas_username }}
password={{ vault_nas_password }}
{% if vault_nas_domain is defined and vault_nas_domain | length > 0 %}
domain={{ vault_nas_domain }}
{% else %}
domain={{ nas_workgroup }}
{% endif %}